.puzzle{
    margin-top: 1.5em;
    min-width:940px;
}

.puzzle input{
    text-align: center;
    width:100%;
    flex: 0 0 4em;
    padding:0;
    border:none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    font-size: 1.5em;

}

.puzzle input:disabled{
    background-color: #f2f2f2;
}

.puzzle-tile{
    display: flex;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.vertical_break{
    border-left: 3px solid #ddd;
}
.horizontal_break{
    border-top: 3px solid #ddd;
}

.error{
    background-color: #f2dede;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}